:root {
    --verde: #5eb319;
    --verde_oscuro: #469C00;
    --azul-claro: #01A6BD;
    --azul-oscuro: #0090A5;
    --gris-claro: #F5F5F5;
    --gris-oscuro: #E0DEDE;
    --gris-denso: #707070;
    --naranja-claro: #FFC200;
    --naranja-oscuro: #FFB800;
}
* {
    box-sizing: border-box;
}
a {
    color: #336699;
    text-decoration: none;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: white;
}
.navbar-info {
    height: 136px;
    width: 1140px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 382px;
    margin-right: 381px;
}
.navbar-info img:nth-child(1) {
    margin-top: -12px;
}
.navbar-info img:nth-child(2) {
    margin-top: 2px;
    margin-left: 11px;
}
.navbar-info img:nth-child(3) {
    cursor: pointer;
}
.navbar-options {
    height: 40px;
    background-color: var(--verde);
}
.navbar-options-list {
    list-style: none;
    display: flex;
}
.navbar-options-button {
    padding: 12px 15px;
    margin: 0px;
    width: 217px;
    font-size: 14px;
    background-color: var(--verde);
    border-color: var(--verde);
    cursor: pointer;
    color: white;
    border-style: none;
}
.navbar-options-space {
    padding: 10px 180.9px;
}
.navbar-options-button:nth-child(3) {
    width: 228px;
}
.navbar-options-button:nth-child(4) {
    width: 245px;
}
.navbar-options-button:nth-child(5) {
    width: 258.3px;
}
.navbar-options-button:nth-child(6) {
    width: 232px;
}
.navbar-options-button:hover {
    background-color: var(--verde_oscuro);
    border-color: var(--verde_oscuro);
    border-radius: 4px;
}

.social {
    position: fixed;
    right: 0;
    top: 170px;
    width: 40px;
    height: 250px;
}

.page-container {
    margin: 0 366px 0 366.5px;
    padding: 0 15px;
}
.div-row {
    display: flex;
}
.div-row-sena-text-1 {
    width: 750px;
}
.sena-text-1 {
    color: var(--azul-claro);
    font-size: 23px;
    margin: 68px 0 0 0;
    padding: 0px;
    text-align: center;
}
.div-row-sena-text-2 {
    width: 129px;
    height: 70px;
    background-color: var(--verde);
    padding: 5px 4px 0 4px;
    line-height: 16px;
    border: 5px solid #E6E6E6;
    border-radius: 4px 0 0 4px;
    text-align: center;
    margin: 45px 0 0 30px;
    cursor: pointer;
}
.div-row-sena-text-2:hover {
    background-color: var(--verde_oscuro);
}
.sena-text-2 {
    color: white;
    font-size: 0.9em;
}
.div-row-sena-text-3 {
    background-color: var(--gris-claro);
    height: 70px;
    width: 231px;
    text-align: center;
    padding: 8px 10.797px 0 10.797px;
    margin-top: 45px;
    border: 1px solid #E0DEDE;
    cursor: pointer;
    line-height: 18px;
    border-radius: 0 4px 4px 0;
}
.sena-text-3:hover {
    color: var(--verde);
}
.sena-text-3 {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--azul-claro);
    margin: 0;
}

.line-1 {
    margin: 20px 0;
    border: 0px;
    border-top: 1px solid #eeeeee;
}

.div-row-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.div-row-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-row-icons:hover {
    color: var(--azul-claro);
}
.image-icon {
    height: 50px;
    width: 50px;
    background-color: var(--verde);
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
}
.image-icon:hover {
    background-color: var(--verde_oscuro);
}
.div-row-icons-text {
    font-weight: normal;
    margin-top: 15px;
}
.div-row-icons-text:hover {
    color: var(--verde);
}
.div-row-icons-text-pencil {
    width: 90px;
    text-align: center;
}
.image-regard {
    background-image: url("../assets/tecnicas.png");
}
.image-pointer {
    background-image: url("../assets/tecnicavirtual.png");
}
.image-pencil {
    background-image: url("../assets/cursoscortos.png");
}
.image-computer {
    background-image: url("../assets/virtual.png");
}
.image-talk {
    background-image: url("../assets/ingles.png");
}

.line-2 {
    margin-top: 14px;
    margin-bottom: 20px;
    border: 0px;
    border-top: 1px solid #eeeeee;
}

.searcher-container {
    padding-right: 15px;
}
.searcher {
    position: relative;
    background-color: var(--gris-denso);
    height: 280px;
    width: 750px;
    border-radius: 8px;
    padding: 6px 18px;
    margin-bottom: 30px;
}
.searcher h2 {
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 8px;
}
.filter-container {
    display: flex;
}
.filter {
    background-color: var(--gris-oscuro);
    background-image: url("../assets/pin.png");
    background-repeat: no-repeat;
    background-position-x: 104px;
    background-position-y: 16px;
    width: 136px;
    height: 38px;
    padding: 2px 8px 3px 8px;
    margin: 0;
    border-radius: 4px 0 0 4px;
    font-size: 0.8em;
}
.filter-text-1 {
    font-family: "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 16px;
    width: 580px;
    color: #999999;
    border-radius: 0 4px 4px 0;
    padding-left: 10px;
    border: none;
}
.searcher-text-2 {
    margin-top: 30px;
}
.help-icon {
    background-image: url("../assets/quest.png");
    background-repeat: no-repeat;
    cursor: help;
    position: absolute;
    width: 20px;
    height: 20px;
}
.icon-1 {
    top: 114px;
    left: 235px;
}
.filter-text-2 {
    font-family: "Helvetica Neue", sans-serif;
    font-style: italic;
    font-size: 1.13em;
    width: 714px;
    height: 30px;
    color: #999999;
    border-radius: 4px;
    padding-left: 12px;
    border: none;
}
.input-1 {
    margin-top: 21px;
}
.input-searcher {
    color: #eee;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.input-searcher input {
    margin: 4px 0 0 0;
}.input-searcher label {
    margin-left: 0.5px;
}
.icon-2 {
    top: 199px;
    left: 180px;
}
.icon-3 {
    top: 223px;
    left: 374px;
}
.buscar-submit {
    position: relative;
    left: 571px;
    top: -40px;
    padding: 6px 12px;
    font-size: 16.8px;
    background-color: var(--verde);
    color: white;
    border: none;
    border-radius: 4px;
    width: 143px;
    height: 36px;
    cursor: pointer;
}
.buscar-sencilla-button-1 {
    background-color: var(--azul-claro);
    height: 36px;
    width: 675px;
    text-align: center;
    line-height: 35px;
    font-size: 1.2em;
    color: white;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    float: left;
    margin-bottom: 32px;
}
.buscar-sencilla-button-1:hover {
    background-color: var(--azul-oscuro);
}
.buscar-sencilla-button-2 {
    background-color: var(--azul-oscuro);
    background-image: url("../assets/go.png");
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    height: 36px;
    width: 75px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.buscar-sencilla-button-2:hover {
    background-color: var(--azul-claro);
}
.login-signup {
    padding-left: 15px;
}
.signup {
    border-radius: 5px 5px 0 0;
    background-color: var(--gris-claro);
    border: var(--gris-oscuro) 1px solid;
}
.image-signup {
    background-image: url("../assets/register.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 7px;
    cursor: pointer;
}
.image-signup:hover {
    background-image: url("../assets/register2.png");
}
.login-signup-text {
    margin: 18px 15px 19px 74px;
    font-size: 1.1em;
    width: 244px;
}
.button-login-signup-1 {
    background-color: var(--verde);
    height: 36px;
    width: 288px;
    border-radius: 0 0 0 5px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: white;
    float: left;
    margin-bottom: 30px;
}
.button-login-signup-1:hover {
    background-color: var(--verde_oscuro);
}
.button-login-signup-2 {
    background-color: var(--verde_oscuro);
    background-image: url("../assets/go.png");
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    height: 36px;
    width: 72px;
    border-radius: 0 0 4px 0;
    cursor: pointer;
}
.button-login-signup-2:hover {
    background-color: var(--verde);
}
.login {
    margin-top: 78px;
    border-radius: 5px 5px 0 0;
    background-color: var(--gris-claro);
    border: var(--gris-oscuro) 1px solid;
    width: 360px;
}
.image-login {
    background-image: url("../assets/ingresoico.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    position: absolute;
    margin: 7px;
    cursor: pointer;
}
.image-login:hover {
    background-image: url("../assets/ingresoico2.png");
}
.notremember-pass-1 {
    background-color: var(--azul-claro);
    height: 36px;
    width: 288px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: white;
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    float: left;
}
.notremember-pass-1:hover {
    background-color: var(--azul-oscuro);
}
.notremember-pass-2 {
    background-color: var(--azul-oscuro);
    background-image: url("../assets/go.png");
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    height: 36px;
    width: 72px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.notremember-pass-2:hover {
    background-color: var(--azul-claro);
}

.div-row-height-custom {
    height: 320px;
}
.novelty-container {
    background-color: var(--gris-claro);
    border: var(--gris-oscuro) 1px solid;
    border-radius: 4px 4px 0 0;
    position: relative;
    width: 360px;
    height: 254px;
}
.button-novelty-1 {
    background-color: var(--naranja-claro);
    height: 36px;
    width: 288px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: white;
    border-radius: 0 0 0 4px;
    cursor: pointer;
    float: left;
}
.button-novelty-1:hover {
    background-color: var(--naranja-oscuro);
}
.button-novelty-2 {
    background-color: var(--naranja-oscuro);
    background-image: url("../assets/go.png");
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    height: 36px;
    width: 72px;
    border-radius: 0 0 4px 0;
    cursor: pointer;
}
.button-novelty-2:hover {
    background-color: var(--naranja-claro);
}
.novelty-arrow {
    position: absolute;
    color: var(--naranja-claro);
    font-size: 35px;
    text-align: center;
    cursor: pointer;
}
.novelty-arrow-next {
    left: 14px;
    top: 15px;
}
.novelty-arrow-prev {
    right: 14px;
    top: 15px;
}
.twitter {
    background-color: var(--gris-claro);
    width: 360px;
    height: 290px;
    margin-left: 30px;
}
.info-help {
    padding-left: 30px;
    width: 390px;
}
.button-help-1 {
    background-color: var(--gris-claro);
    border: var(--gris-oscuro) 1px solid;
    border-radius: 4px 0 0 4px;
    padding: 20px;
    color: var(--azul-claro);
    height: 63px;
    width: 288px;
    margin-bottom: 13px;
    font-size: 1.1em;
    float: left;
}
.button-help-1:hover {
    background-color: var(--gris-oscuro);
}
.button-help-2 {
    background-color: var(--azul-oscuro);
    background-image: url("../assets/go.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 4px 4px 0;
    margin-bottom: 12px;
    height: 63px;
    width: 72px;
    float: right;
    cursor: pointer;
}
.button-help-2:hover {
    background-color: var(--azul-claro);
}

.questions {
    background-color: var(--gris-denso);
    border: 1px solid var(--gris-oscuro);
    border-radius: 4px;
    margin-bottom: 20px;
    width: 1140px;
    height: 60px;
    padding: 16px 0;
    color: white;
    font-size: 1.2em;
    text-align: center;
}
.info-questions {
    position: relative;
    float: left;
    left: 104.5px;
}
.info-questions-button {
    position: relative;
    float: right;
    right: 29px;
    background-color: var(--verde);
    border: 1px solid transparent;
    border-radius: 4px;
    width: 336px;
    color: white;
}
.info-questions-button:hover {
    background-color: var(--verde_oscuro);
}

.footer-container {
    border: 1px solid var(--gris-oscuro);
    height: 87px;
    background-color: var(--gris-claro);
    padding: 9px 10px 10px 0.5px;
    line-height: 19px;
}
.footer-info {
    position: relative;
    margin: 0 365px;
    height: 60px;
    width: 1170px;
    padding: 0 15px;
    font-size: 13px;
}
.footer-tel {
    height: 65px;
    width: 570px;
    padding: 0 15px;
    float: left;
}
.footer-tel > b {
    font-size: 11px;
}
.footer-contact {
    margin-top: 8px;
}
.footer-tel-img {
    background-image: url("../assets/call.png");
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    float: left;
}
.footer-time {
    position: relative;
    float: right;
    text-align: right;
    font-size: 13px;
    height: 65px;
    width: 570px;
    padding: 0 15px;
}
.footer-schedule {
    padding-top: 27px;
}